  .map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    font-family: Arial, sans-serif;
  }

  .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    background: ghostwhite;
    border-left: 5px solid lightsteelblue;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: Arial, sans-serif;
  }

  .controls {
    list-style: none;
    padding: 10px;
  }

  .controls li {
    margin: 0 0 5px 5px;  
  } 

  #js-textarea{
    width: 100%;
    height: 375px;
  }

  #pop-textarea{
    width: 100%;
    height: 375px;
  }


  .ol-mouse-position {
    top: inherit;
    bottom: 8px;
    left: 8px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 2px;
    width: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
  }

  .initHide { display: none; }

  .createButtons{
    padding: 10px;
    border-style: inset;
  }

  .input{
    margin:10px;
  }

  .btn-input{
    margin-top: 10px;
  }

  .ol-layer-switcher {
    bottom: 0.5em; left: 0.5em; 
  }

  .ol-layer-switcher ul {
    background-color: rgba(0,60,136,0.5);
    border: none; border-radius: 2px; color: #fff;
    margin: 0; padding: 0; list-style: none; font-size: 0.9em; 
  }

  .ol-layer-switcher li {
    display: block; padding: 8px; 
  }


  .ol-layer-switcher li:hover {
    background: #7b98bc; cursor: pointer; 
  }

  .ol-layer-switcher .active {
    background: #7b98bc; 
  }